<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Orders</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute ">

      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 ss">
            <div class="panel">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-sm-3 col-xs-12">
                    <h4 class="title">View All <span>Orders</span></h4>
                  </div>
                  <div class="col-sm-9 col-xs-12 text-right">
                    <form  >
                      <div class="btn_group">
                        <input type="text" class="form-control" placeholder="Search">
                        <button mat-icon-button  color="warn"    type="submit">
                          <mat-icon>search</mat-icon>
                        </button>
                      </div>
                    </form>


                  </div>
                </div>
                <div class="panel-body table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Client ID</th>
                      <th>Client Name</th>
                      <th>Client Email</th>
                      <th> Client Number</th>
                      <th>Client Address </th>
                      <th>Client Code</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                      <td>1</td>
                      <td>Dave</td>
                      <td>dave@gmail.com </td>
                      <td>1122334455</td>
                      <td> dasasdsadasd</td>
                      <td> 112233</td>

                    </tr>
                    <tr>

                      <td>2</td>
                      <td>Dave</td>
                      <td>dave@gmail.com </td>
                      <td>1122334455</td>
                      <td> dasasdsadasd</td>
                      <td> 112233</td>

                    </tr>
                    <tr>

                      <td>3</td>
                      <td>Dave</td>
                      <td>dave@gmail.com </td>
                      <td>1122334455</td>
                      <td> dasasdsadasd</td>
                      <td> 112233</td>

                    </tr>
                    <tr>

                      <td>1</td>
                      <td>Dave</td>
                      <td>dave@gmail.com </td>
                      <td>1122334455</td>
                      <td> dasasdsadasd</td>
                      <td> 112233</td>

                    </tr>
                    <tr>

                      <td>1</td>
                      <td>Dave</td>
                      <td>dave@gmail.com </td>
                      <td>1122334455</td>
                      <td> dasasdsadasd</td>
                      <td> 112233</td>

                    </tr>
                    <tr>

                      <td>1</td>
                      <td>Dave</td>
                      <td>dave@gmail.com </td>
                      <td>1122334455</td>
                      <td> dasasdsadasd</td>
                      <td> 112233</td>

                    </tr>
                    <tr>

                      <td>1</td>
                      <td>Dave</td>
                      <td>dave@gmail.com </td>
                      <td>1122334455</td>
                      <td> dasasdsadasd</td>
                      <td> 112233</td>

                    </tr>

                    </tbody>
                  </table>
                  <!--          <div class="alert alert-success" style="text-align: center"  *ngIf="isempty">-->
                  <!--               -->
                  <!--          -->
                  <!--            You dont have any Bookings  Reserved.  <i class="fa fa-database fa-2x" aria-hidden="true"></i>-->
                  <!--          </div>-->
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
