<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Add a Client</div>
  <div class="page__content shadow p-3 position-relative">
    <form>


      <div class="col-xl-7 m-auto order-xl-1">


        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">

              <mat-form-field appearance="outline">
                <mat-label>Client Name</mat-label>
                <mat-icon matSuffix> person_outline</mat-icon>
                <input matInput  >
              </mat-form-field>

              <br>

              <mat-form-field appearance="outline">
                <mat-label>Client Phone Number</mat-label>
                <mat-icon matSuffix> phone_iphone</mat-icon>
                <input matInput  >
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Client Address</mat-label>
                <mat-icon matSuffix> home</mat-icon>
                <input matInput  >
              </mat-form-field>

            </div>

            <div class="col-lg-6">
              <mat-form-field appearance="outline">
                <mat-label>Client Email</mat-label>
                <mat-icon matSuffix> email</mat-icon>
                <input matInput  >
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Client Code</mat-label>
                <mat-icon matSuffix> qr_code_2</mat-icon>
                <input matInput  >
              </mat-form-field>

            </div>
          </div>

        </div>
        <hr class="my-4">

        <!--                                            <mat-divider></mat-divider>-->

        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="b1">
                <!--                                                            <button type="button" (click)="AcceptRejectUserDetails('APPROVED')" class="btn btn-success">Approve</button>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="b1">
                <!--                                                            <button type="button"  class="btn btn-danger">Reject</button>-->
                <div>
                  <button mat-raised-button color="primary"
                          style="background-color: seagreen; width: 400px; height: 50px"
                          matTooltip="Save Client">
                    Add Client
                    <mat-icon >add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>


    </form>
  </div>
</div>
